body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segeo UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.material-button {
    background-color: #2196f3;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.site-title {
    font-size: 2rem;
    font-weight: bold;
    color: #2196f3;
    font-size: 48px;
}

.headline-primary {
    font-size: 38px;
    font-weight: 300;
    letter-spacing: 2px;
}