.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
}

.item-header {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.item.item-header > span > button {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;

    transition: all 0.1s ease-in;
}

.item.item-header > span > button:focus {
    font-weight: bolder;
}

.item.item-header > span > button,svg {
    display: inline-block;
    vertical-align: middle;
}

.item > span {
    width: 10%;
}

.item > span:first-child {
    width: 40%;
}