.game-list-table {
    width: 40%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
}

.game-list-table th, .game-list-table td {
    text-align: left;
    padding: 16px;
}

.game-list-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.game-list-table th {
    background-color: #4CAF50;
    color: white;
}

.search-attribute-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}