.list-table {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-table th,
.list-table td {
    text-align: left;
    padding: 16px;
}

.list-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.list-table.game th {
    background-color: #4CAF50;
    color: white;
}

.list-table.story th {
    background-color: #f09104;
    color: white;
}

.search-attribute-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.search-attribute-container>div {
    margin-right: 20px;
}

#label-search {
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}

.add-game-form input[type=text],
input[type=number],
input[type=checkbox] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-game-form>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.add-game-form>div>input[type=text],
input[type=number],
input[type=checkbox] {
    margin-right: 20px;
}

.add-game-form button {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.currency-button {
    display: inline-block;
}

.currency-button button {
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}